@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');

html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background: #000;
  color: #fff;
  padding: 0;
}
